{% extends 'layouts/admin.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col">
      <h1>{{page_title}}</h1>
      {% include "parts/_alerts.html.twig" %}
    </div>
    <div class="col d-flex align-items-center justify-content-end mb-2">
      <a href="{{ path('app_admin_character_new') }}" class="btn btn-sm btn-primary">Create new</a>
    </div>
    <div class="overflow-auto">
      <div class="table table-hover">
        <table class="table table-striped table-bordered table-hover table-sm">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Mass</th>
              <th>Height</th>
              <th>Gender</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for character in characters %}
              <tr>
                <td>{{ character.id }}</td>
                <td>{{ character.name }}</td>
                <td>{{ character.mass }}</td>
                <td>{{ character.height }}</td>
                <td>{{ character.gender }}</td>
                <td>
                  <a href="{{ path('app_admin_character_show', {'id': character.id}) }}" class="btn btn-sm btn-secondary">show</a>
                  <a href="{{ path('app_admin_character_edit', {'id': character.id}) }}" class="btn btn-sm btn-primary">edit</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}