<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-auto">
        <img style="width: 100px;height: 100px;" src="{{ character.picture }}" class="card-img-top img-thumbnail rounded-circle" alt="...">
      </div>
      <div class="col d-flex flex-column">
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="card-title mb-0">{{ character.name }}</h5>
          <span class="badge bg-secondary">{{ character.gender }}</span>
        </div>
        <ul class="my-2">
          <li>Height: {{ character.height }} cm</li>
          <li>Mass: {{ character.mass }} kg</li>
        </ul>
        {% if app.user %}
          <div class="d-flex justify-content-end">
            <a href="{{ path('app_admin_character_edit', {id: character.id}) }}" class="btn btn-sm btn-primary me-2">Edit</a>
            {{ include('admin/character/_delete_form.html.twig') }}
          </div>
        {% endif %}
        
      </div>
    </div>
  </div>
</div>