<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-auto">
        <img style="width: 100px;height: 100px;" src="{{ picture }}" class="card-img-top img-thumbnail rounded-circle" alt="...">
      </div>
      <div class="col d-flex flex-column">
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="card-title mb-0">{{ name }}</h5>
          <span class="badge bg-secondary">{{ gender }}</span>
        </div>
        <ul class="my-2">
          <li>Height: {{ height }}</li>
          <li>Mass: {{ mass }}</li>
        </ul>
        {% if app.user %}
          <div class="d-flex justify-content-end">
            <a href="{{ editUrl }}" class="btn btn-sm btn-primary me-2">Edit</a>
            <a href="{{ deleteUrl }}" class="btn btn-sm btn-danger">Delete</a>
          </div>
        {% endif %}
        
      </div>
    </div>
  </div>
</div>